<div class="bg-light py-lg-14 py-5 bg-cover component-background ">
  <!-- container -->
  <div class="container mt-5">
    <!-- row -->
    <div class="row align-items-center">
      <div class="col-lg-6 col-12">
        <div>
          <div class="text-center text-md-start">
            <!-- heading -->
            <p class="let-shift-business">
              LET’S SHIFT YOUR BUSINESS
            </p>
            
            <h1 class="custom-heading display-4 fw-bold mb-3">
              Shift your business <br>
              fast with Shade Pro.
            </h1>
            <!-- lead -->
            <p class="custom-lead lead">
              With lots of unique blocks, you can easily build a page without coding.
              Build your next consultancy website within few minutes.
            </p>
            <p href="#" class="btn btn-get-started ">Get Started a project</p>
          </div>
        </div>
      </div>
      <div class="offset-lg-1 col-lg-5 col-12 text-center">
        <div class="position-relative">
          <img src="assets/Fill1.png" class="img-fluid custom-second-image" alt="Second Image">
          <img src="assets/Oval.png" class="img-fluid custom-image" alt="Dummy Image">
          <div class="overlay-container">
          <img src="assets/round.png" class="img-fluid custom-first-overlay" alt="First Overlay Image">
          <img src="assets/waves.png" class="img-fluid custom-second-overlay" alt="Second Overlay Image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>