<div class="profile-container">
  <div class="profile-card">
      <div class="profile-image">
          <img src="/assets/webOval.png" alt="Profile Image">
      </div>
      <div class="review-section">
          <div class="stars">
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
              <span class="star">★</span>
          </div>
          <div class="review-content">
              <!-- <div class="quote-mark">“</div> -->
              <p class="review-text">"OMG! I cannot believe that I have got a brand new landing page after getting Albino. It was super easy to edit and publish."</p>
          </div>
          <div class="reviewer-info">
              <p class="reviewer-name">Franklin Hicks <span class="reviewer-role">Web Developer</span></p>
              
          </div>
      </div>
  </div>
</div>
