<div class="background-container">
  <div class="testimonial-section">
    <p class="testimonial-text">TESTIMONIAL</p>
    <p class="testimonial-quote">
      “Simply the best. Better than all the rest. I’d recommend this product to beginners and advanced users.”
    </p>
    <div class="author-section">
      <div class="author-image-container">
        <img src="/assets/Oval2.png" class="author-image" alt="Author Image">
      </div>
      <p class="author-name">Ian Klein</p>
      <p class="author-title">Digital Marketer</p>
    </div>
  </div>
  <div class="centered-image-container">
    <img src="/assets/Group47.png" class="centered-image" alt="Centered Image">
  </div>
</div>

