/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Regular.ttf') format('truetype') ;
}


@font-face {
  font-family: 'Gilroy-bold';
  src: url('/fonts/Gilroy-Bold.ttf') format('truetype') ;
}

@font-face {
  font-family: 'Gilroy-light';
  src: url('/fonts/Gilroy-Light.ttf') format('truetype') ;
}