.navbar{
  background-image: url('/assets/BG.png');
  background-size: cover;
}

.navbar-brand {
  width: 140px;
  height: 28px;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.44px;
  letter-spacing: -0.133px;
  text-align: left;
  color: #161C2D; 
  padding: 0 10px; 
  display: inline-flex;
  align-items: center;
  margin-left: 100px;
}

.btn-get-started{
color: #FFFFFF;
background: #473BF0;
margin-right: 100px;
}


.nav-link {
  font-family: 'Gilroy', sans-serif; 
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.1px;
  color: #161C2D;
  text-decoration: none; 
  
}